.elementor-37 .elementor-element.elementor-element-6923226 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --align-items: stretch;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
    --z-index: 99;
}

.elementor-37 .elementor-element.elementor-element-c61594a {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: space-between;
    --align-items: center;
    --gap: 10px 10px;
    --row-gap: 10px;
    --column-gap: 10px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-37 .elementor-element.elementor-element-2a23592 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --align-items: center;
    --gap: 0px 45px;
    --row-gap: 0px;
    --column-gap: 45px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
    border-color: var(--e-global-color-text);
}

.elementor-widget-icon-list .elementor-icon-list-icon i {
    color: var(--e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-icon svg {
    fill: var(--e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item>a {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-icon-list .elementor-icon-list-text {
    color: var(--e-global-color-secondary);
}

.elementor-37 .elementor-element.elementor-element-12d3524 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(38px/2);
}

.elementor-37 .elementor-element.elementor-element-12d3524 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(38px/2);
}

.elementor-37 .elementor-element.elementor-element-12d3524 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(38px/2);
    margin-left: calc(38px/2);
}

.elementor-37 .elementor-element.elementor-element-12d3524 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-38px/2);
    margin-left: calc(-38px/2);
}

body.rtl .elementor-37 .elementor-element.elementor-element-12d3524 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-38px/2);
}

body:not(.rtl) .elementor-37 .elementor-element.elementor-element-12d3524 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-38px/2);
}

.elementor-37 .elementor-element.elementor-element-12d3524 .elementor-icon-list-icon i {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-37 .elementor-element.elementor-element-12d3524 .elementor-icon-list-icon svg {
    fill: #FFFFFF;
    transition: fill 0.3s;
}

.elementor-37 .elementor-element.elementor-element-12d3524 {
    --e-icon-list-icon-size: 20px;
}

.elementor-37 .elementor-element.elementor-element-12d3524 .elementor-icon-list-icon {
    padding-right: 0px;
}

.elementor-37 .elementor-element.elementor-element-12d3524 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-37 .elementor-element.elementor-element-12d3524 .elementor-icon-list-item>a {
    font-family: "DM Sans", Sans-serif;
    font-weight: 400;
}

.elementor-37 .elementor-element.elementor-element-12d3524 .elementor-icon-list-text {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-37 .elementor-element.elementor-element-89cd108 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 20px;
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-37 .elementor-element.elementor-element-89cd108 .elementor-widget-container {
    text-align: center;
}

.elementor-37 .elementor-element.elementor-element-89cd108 .elementor-social-icon {
    background-color: #FFFFFF00;
    --icon-padding: 0.2em;
}

.elementor-37 .elementor-element.elementor-element-89cd108 .elementor-social-icon i {
    color: #FFFFFF;
}

.elementor-37 .elementor-element.elementor-element-89cd108 .elementor-social-icon svg {
    fill: #FFFFFF;
}

.elementor-37 .elementor-element.elementor-element-be05ad1 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 20px;
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-37 .elementor-element.elementor-element-be05ad1 .elementor-widget-container {
    text-align: center;
}

.elementor-37 .elementor-element.elementor-element-be05ad1 .elementor-social-icon {
    background-color: #FFFFFF00;
    --icon-padding: 0.2em;
}

.elementor-37 .elementor-element.elementor-element-be05ad1 .elementor-social-icon i {
    color: #FFFFFF;
}

.elementor-37 .elementor-element.elementor-element-be05ad1 .elementor-social-icon svg {
    fill: #FFFFFF;
}

.elementor-37 .elementor-element.elementor-element-afa6721 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(38px/2);
}

.elementor-37 .elementor-element.elementor-element-afa6721 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(38px/2);
}

.elementor-37 .elementor-element.elementor-element-afa6721 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(38px/2);
    margin-left: calc(38px/2);
}

.elementor-37 .elementor-element.elementor-element-afa6721 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-38px/2);
    margin-left: calc(-38px/2);
}

body.rtl .elementor-37 .elementor-element.elementor-element-afa6721 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-38px/2);
}

body:not(.rtl) .elementor-37 .elementor-element.elementor-element-afa6721 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-38px/2);
}

.elementor-37 .elementor-element.elementor-element-afa6721 .elementor-icon-list-icon i {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-37 .elementor-element.elementor-element-afa6721 .elementor-icon-list-icon svg {
    fill: #FFFFFF;
    transition: fill 0.3s;
}

.elementor-37 .elementor-element.elementor-element-afa6721 {
    --e-icon-list-icon-size: 20px;
}

.elementor-37 .elementor-element.elementor-element-afa6721 .elementor-icon-list-icon {
    padding-right: 0px;
}

.elementor-37 .elementor-element.elementor-element-afa6721 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-37 .elementor-element.elementor-element-afa6721 .elementor-icon-list-item>a {
    font-family: "DM Sans", Sans-serif;
    font-weight: 400;
}

.elementor-37 .elementor-element.elementor-element-afa6721 .elementor-icon-list-text {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-37 .elementor-element.elementor-element-af1b8a2 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(38px/2);
}

.elementor-37 .elementor-element.elementor-element-af1b8a2 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(38px/2);
}

.elementor-37 .elementor-element.elementor-element-af1b8a2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(38px/2);
    margin-left: calc(38px/2);
}

.elementor-37 .elementor-element.elementor-element-af1b8a2 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-38px/2);
    margin-left: calc(-38px/2);
}

body.rtl .elementor-37 .elementor-element.elementor-element-af1b8a2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-38px/2);
}

body:not(.rtl) .elementor-37 .elementor-element.elementor-element-af1b8a2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-38px/2);
}

.elementor-37 .elementor-element.elementor-element-af1b8a2 .elementor-icon-list-icon i {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-37 .elementor-element.elementor-element-af1b8a2 .elementor-icon-list-icon svg {
    fill: #FFFFFF;
    transition: fill 0.3s;
}

.elementor-37 .elementor-element.elementor-element-af1b8a2 {
    --e-icon-list-icon-size: 20px;
}

.elementor-37 .elementor-element.elementor-element-af1b8a2 .elementor-icon-list-icon {
    padding-right: 0px;
}

.elementor-37 .elementor-element.elementor-element-af1b8a2 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-37 .elementor-element.elementor-element-af1b8a2 .elementor-icon-list-item>a {
    font-family: "DM Sans", Sans-serif;
    font-weight: 400;
}

.elementor-37 .elementor-element.elementor-element-af1b8a2 .elementor-icon-list-text {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-37 .elementor-element.elementor-element-99ad0aa {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-37 .elementor-element.elementor-element-4303894 {
    --display: flex;
}

.elementor-37 .elementor-element.elementor-element-4303894.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-widget-image .widget-image-caption {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-37 .elementor-element.elementor-element-fd14fd8 {
    text-align: left;
}

.elementor-37 .elementor-element.elementor-element-0dc3bc7 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --align-items: center;
}

.elementor-widget-nav-menu .elementor-nav-menu .elementor-item {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item {
    color: var(--e-global-color-text);
    fill: var(--e-global-color-text);
}

.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item:hover,
.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item:focus {
    color: var(--e-global-color-accent);
    fill: var(--e-global-color-accent);
}

.elementor-widget-nav-menu .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-widget-nav-menu .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: var(--e-global-color-accent);
}

.elementor-widget-nav-menu .e--pointer-framed .elementor-item:before,
.elementor-widget-nav-menu .e--pointer-framed .elementor-item:after {
    border-color: var(--e-global-color-accent);
}

.elementor-widget-nav-menu {
    --e-nav-menu-divider-color: var(--e-global-color-text);
}

.elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-item,
.elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-37 .elementor-element.elementor-element-c592159 .elementor-menu-toggle {
    margin: 0 auto;
}

.elementor-37 .elementor-element.elementor-element-c592159 .elementor-nav-menu .elementor-item {
    font-weight: 600;
    text-transform: uppercase;
}

.elementor-37 .elementor-element.elementor-element-c592159 .elementor-nav-menu--main .elementor-item {
    color: #000000;
    fill: #000000;
    padding-left: 15px;
    padding-right: 15px;
}

.elementor-37 .elementor-element.elementor-element-c592159 .elementor-nav-menu--main .elementor-item:hover,
.elementor-37 .elementor-element.elementor-element-c592159 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-37 .elementor-element.elementor-element-c592159 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-37 .elementor-element.elementor-element-c592159 .elementor-nav-menu--main .elementor-item:focus {
    color: #292929;
    fill: #292929;
}

.elementor-37 .elementor-element.elementor-element-c592159 .elementor-nav-menu--dropdown .elementor-item,
.elementor-37 .elementor-element.elementor-element-c592159 .elementor-nav-menu--dropdown .elementor-sub-item {
    font-weight: 500;
}

.elementor-widget-search-form input[type="search"].elementor-search-form__input {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-search-form .elementor-search-form__input,
.elementor-widget-search-form .elementor-search-form__icon,
.elementor-widget-search-form .elementor-lightbox .dialog-lightbox-close-button,
.elementor-widget-search-form .elementor-lightbox .dialog-lightbox-close-button:hover,
.elementor-widget-search-form.elementor-search-form--skin-full_screen input[type="search"].elementor-search-form__input {
    color: var(--e-global-color-text);
    fill: var(--e-global-color-text);
}

.elementor-widget-search-form .elementor-search-form__submit {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
    background-color: var(--e-global-color-secondary);
}

.elementor-37 .elementor-element.elementor-element-3fdf8c8 .elementor-search-form {
    text-align: center;
}

.elementor-37 .elementor-element.elementor-element-3fdf8c8 .elementor-search-form__toggle {
    --e-search-form-toggle-size: 33px;
    --e-search-form-toggle-color: #000000;
    --e-search-form-toggle-background-color: #FFFFFF;
}

.elementor-37 .elementor-element.elementor-element-3fdf8c8 .elementor-search-form__input,
.elementor-37 .elementor-element.elementor-element-3fdf8c8 .elementor-search-form__icon,
.elementor-37 .elementor-element.elementor-element-3fdf8c8 .elementor-lightbox .dialog-lightbox-close-button,
.elementor-37 .elementor-element.elementor-element-3fdf8c8 .elementor-lightbox .dialog-lightbox-close-button:hover,
.elementor-37 .elementor-element.elementor-element-3fdf8c8.elementor-search-form--skin-full_screen input[type="search"].elementor-search-form__input {
    color: #7A7A7A;
    fill: #7A7A7A;
}

.elementor-37 .elementor-element.elementor-element-3fdf8c8:not(.elementor-search-form--skin-full_screen) .elementor-search-form__container {
    border-radius: 3px;
}

.elementor-37 .elementor-element.elementor-element-3fdf8c8.elementor-search-form--skin-full_screen input[type="search"].elementor-search-form__input {
    border-radius: 3px;
}

.elementor-theme-builder-content-area {
    height: 400px;
}

.elementor-location-header:before,
.elementor-location-footer:before {
    content: "";
    display: table;
    clear: both;
}

@media(max-width:1024px) {
    .elementor-37 .elementor-element.elementor-element-6923226 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-37 .elementor-element.elementor-element-c61594a {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 30px;
        --padding-right: 30px;
    }
}

@media(min-width:768px) {
    .elementor-37 .elementor-element.elementor-element-6923226 {
        --width: 100%;
    }

    .elementor-37 .elementor-element.elementor-element-c61594a {
        --content-width: 1400px;
    }

    .elementor-37 .elementor-element.elementor-element-4303894 {
        --width: 15.439%;
    }
}

@media(max-width:767px) {
    .elementor-37 .elementor-element.elementor-element-6923226 {
        --min-height: 0px;
    }

    .elementor-37 .elementor-element.elementor-element-c61594a {
        --justify-content: center;
        --align-items: center;
        --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
        --gap: 20px 20px;
        --row-gap: 20px;
        --column-gap: 20px;
        --padding-top: 8px;
        --padding-bottom: 8px;
        --padding-left: 8px;
        --padding-right: 8px;
    }

    .elementor-37 .elementor-element.elementor-element-2a23592 {
        --justify-content: center;
        --gap: 10px 10px;
        --row-gap: 10px;
        --column-gap: 10px;
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-37 .elementor-element.elementor-element-12d3524.elementor-element {
        --align-self: center;
    }

    .elementor-37 .elementor-element.elementor-element-12d3524 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-37 .elementor-element.elementor-element-12d3524 .elementor-icon-list-item>a {
        font-size: 16px;
    }

    .elementor-37 .elementor-element.elementor-element-99ad0aa {
        --gap: 0px 0px;
        --row-gap: 0px;
        --column-gap: 0px;
        --flex-wrap: nowrap;
    }

    .elementor-37 .elementor-element.elementor-element-4303894 {
        --width: 61.079%;
    }

    .elementor-37 .elementor-element.elementor-element-0dc3bc7 {
        --width: 50%;
        --flex-direction: row-reverse;
        --container-widget-width: initial;
        --container-widget-height: 100%;
        --container-widget-flex-grow: 1;
        --container-widget-align-self: stretch;
        --flex-wrap-mobile: wrap-reverse;
        --justify-content: flex-start;
    }

    .elementor-37 .elementor-element.elementor-element-c592159 {
        width: var(--container-widget-width, 33px);
        max-width: 33px;
        --container-widget-width: 33px;
        --container-widget-flex-grow: 0;
    }

    .elementor-37 .elementor-element.elementor-element-c592159 .elementor-nav-menu--dropdown a {
        padding-left: 16px;
        padding-right: 16px;
    }

    .elementor-37 .elementor-element.elementor-element-c592159 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-37 .elementor-element.elementor-element-c592159 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 35px !important;
    }
}

/* Start custom CSS for container, class: .elementor-element-6923226 */
.elementor-37 .elementor-element.elementor-element-6923226 {
    background: rgb(248, 128, 37);
    background: linear-gradient(42deg, rgba(248, 128, 37, 1) 0%, rgba(237, 21, 132, 1) 51%, rgba(138, 38, 152, 1) 100%);
}

/* End custom CSS */