
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}


body {
    margin: 0;
}

.home-about-us-banner {
    background: linear-gradient(180deg, #ff6247 0%, #2b0000 100%);

    padding: 30px !important;
    border-radius: 50px !important;
}